body, p {
    margin: 0;
}

div {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

    div::-webkit-scrollbar {
        display: none;
    }

p {
    line-height: 30px;
    font-size: 1.2em;
    font-weight: 900;
    font-family: 'Microsoft YaHei';
    text-shadow: 0px 2px 2px #000, 0px -2px 2px #000, 2px 0px 2px #000, -2px 0px 2px #000, 2px 2px 2px #000, -2px -2px 2px #000, 2px -2px 2px #000, -2px 2px 2px #000;
    color: #fff;
    padding: 2px 10px;
}

.danmaku {
    margin-top: 30px;
    height: calc(100vh - 30px);
    overflow: auto;
}

    .danmaku > p > span.name {
        color: #b6d9fa;
    }

    .danmaku > p:not(.comment) {
        color: #ddd;
    }

        .danmaku > p:not(.comment) > span.name {
            margin-right: 10px;
        }

    .danmaku > p.like {
    }

    .danmaku > p.follow {
    }

    .danmaku > p.enter {
        border-radius: 10px;
    }

.gift {
    background: #fedf3b;
    border-radius: 10px;
    width: max-content;
}

.gifts {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
}

    .gifts > p {
        display: inline-block;
    }

        .gifts > p + p {
            margin-left: 10px;
        }
